<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragments/User_fragments :: html_head"/>

<body class="hold-transition sidebar-mini">
<!-- fullCalendar -->
<link rel="stylesheet" th:href="@{/plugins/fullcalendar/main.min.css}">
<link rel="stylesheet" th:href="@{/plugins/fullcalendar-daygrid/main.min.css}">
<link rel="stylesheet" th:href="@{/plugins/fullcalendar-timegrid/main.min.css}">
<link rel="stylesheet" th:href="@{/plugins/fullcalendar-bootstrap/main.min.css}">
<!-- Site wrapper -->
<div class="wrapper">

    <nav th:replace="Fragments/User_fragments :: side_dropdown"/>

    <aside th:replace="Fragments/Admin_fragments :: side_nav_admin"/>

    <div class="content-wrapper">
        <!--        Page Header-->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Admin Homepage</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Blank Page</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <section class="content">

            <div class="row">
                <div class="col-md-6 offset-3">
                    <div th:if="${param.cancel}" class="card bg-gradient-danger" id="successMessage">
                        <div class="card-header">
                            <h3 class="card-title">Success</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                        class="fas fa-times"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            Reservation Canceled
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 offset-3">
                    <div th:if="${param.active}" class="card bg-gradient-success" id="successMessage">
                        <div class="card-header">
                            <h3 class="card-title">Success</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                        class="fas fa-times"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            Reservation Activated
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Dashboard</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"
                                title="Remove">
                            <i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <section class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="mb-3">

                                        <div class="small-box bg-info">
                                            <div class="inner">
                                                <h3 th:text="${carCount}"></h3>

                                                <p>Cars Available</p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-car"></i>
                                            </div>
                                            <a href="#" class="small-box-footer">More info <i
                                                    class="fas fa-arrow-circle-right"></i></a>
                                        </div>

                                        <div class="small-box bg-success">
                                            <div class="inner">
                                                <h3 th:text="${clientCount}"></h3>

                                                <p>Clients</p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-user"></i>
                                            </div>
                                            <a href="#" class="small-box-footer">More info <i
                                                    class="fas fa-arrow-circle-right"></i></a>
                                        </div>

                                        <div class="small-box bg-warning">
                                            <div class="inner">
                                                <h3 th:text="${reservationCount}"></h3>

                                                <p> Reservations </p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-asterisk"></i>
                                            </div>
                                            <a href="#" class="small-box-footer">More info <i
                                                    class="fas fa-arrow-circle-right"></i></a>
                                        </div>

                                        <div class="small-box bg-danger">
                                            <div class="inner">
                                                <h3>£<p th:text="${revenue}"></p></h3>

                                                <p>Revenue</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-pie-graph"></i>
                                            </div>
                                            <a href="#" class="small-box-footer">More info <i
                                                    class="fas fa-arrow-circle-right"></i></a>
                                        </div>

                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-md-9">
                                    <div class="card card-primary">
                                        <div class="card-body p-0">
                                            <!-- THE CALENDAR -->
                                            <div id="calendar"></div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div><!-- /.container-fluid -->
                    </section>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    Footer
                </div>
                <!-- /.card-footer-->
            </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Reservations</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"
                                title="Remove">
                            <i class="fas fa-times"></i></button>
                    </div>
                </div>

                <div class="card-body">

                    <div class="card-body">
                        <table id="example1" class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="text-align: center; vertical-align: middle"> ID</th>
                                <th style="text-align: center; vertical-align: middle">Car Image</th>
                                <th style="text-align: center; vertical-align: middle">Start Date</th>
                                <th style="text-align: center; vertical-align: middle">End Date</th>
                                <th style="text-align: center; vertical-align: middle">User</th>
                                <th style="text-align: center; vertical-align: middle">Fee</th>
                                <th style="text-align: center; vertical-align: middle">Equipment</th>
                                <th style="text-align: center; vertical-align: middle">Status</th>
                                <th style="text-align: center; vertical-align: middle">Picked status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="reservation  : ${reservations}">
                                <td style="text-align: center; vertical-align: middle"
                                    th:text="${reservation.reservation_id}"></td>
                                <td style="text-align: center; vertical-align: middle">
                                    <img th:src="@{${reservation.car.carImagePath}}" style="width: 100px; height: 70px">
                                </td>
                                <td style="text-align: center; vertical-align: middle"
                                    th:text="${reservation.startDate}"></td>
                                <td style="text-align: center; vertical-align: middle"
                                    th:text="${reservation.endDate}"></td>
                                <td style="text-align: center; vertical-align: middle">
                                    <p th:text="${reservation.user.user_fName}"></p>&nbsp;<p
                                        th:text="${reservation.user.user_lName}"></p>
                                </td>
                                <td style="text-align: center; vertical-align: middle"
                                    th:text="${reservation.fee}"></td>
                                <td style="text-align: center; vertical-align: middle">
                                <span th:if="${reservation.satNav}">
                                    <i class="fa fa-satellite"></i>
                                </span>
                                    <span th:if="${reservation.babyseat}">
                                    <i class="fa fa-baby-carriage"></i>
                                </span>
                                    <span th:if="${reservation.chiller}">
                                    <i class="fa fa-snowflake"></i>
                                </span>
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    <a th:href="${reservation.active} ? '/admin/reservation/active/' + ${reservation.reservation_id} : '/admin/reservation/cancel/' + ${reservation.reservation_id}">
                                            <span th:class="${reservation.active} ? 'badge bg-danger' : 'badge bg-success'"
                                                  th:text="${reservation.active}? Cancel : Active">
                                            </span>
                                    </a>
                                </td>
                                <th style="text-align: center; vertical-align: middle"
                                    th:switch="${reservation.pickedUp}">
                                    <span th:if="${!reservation.active}">
                                    <a th:case="'Picked'"
                                       th:href="'/admin/reservation/markedAsReturned/' + ${reservation.reservation_id}">
                                            <span th:class="'badge bg-success'"> Picked </span>
                                    </a>
                                    <a th:case="'Returned'">
                                        <span th:class="'badge bg-info'"> Returned</span>
                                    </a>
                                    <a th:case="*"
                                       th:href="'/admin/reservation/markedAsPicked/' + ${reservation.reservation_id}">
                                        <span th:class="'badge bg-danger'"> Not Picked </span>
                                    </a>
                                    </span>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    Footer
                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->

        </section>

    </div>

</div>

<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- jQuery UI -->
<script th:src="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/dist/js/demo.js}"></script>

<!-- fullCalendar 2.2.5 -->
<script th:src="@{/plugins/moment/moment.min.js}"></script>
<script th:src="@{/plugins/fullcalendar/main.min.js}"></script>
<script th:src="@{/plugins/fullcalendar-daygrid/main.min.js}"></script>
<script th:src="@{/plugins/fullcalendar-timegrid/main.min.js}"></script>
<script th:src="@{/plugins/fullcalendar-interaction/main.min.js}"></script>
<script th:src="@{/plugins/fullcalendar-bootstrap/main.min.js}"></script>

<!-- DataTables -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>

<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
        });
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>

<script>
    $(function () {

        /* initialize the external events
         -----------------------------------------------------------------*/

        /* initialize the calendar
         -----------------------------------------------------------------*/
        //Date for the calendar events (dummy data)
        var date = new Date()
        var d = date.getDate(),
            m = date.getMonth(),
            y = date.getFullYear()

        var Calendar = FullCalendar.Calendar;


        var calendarEl = document.getElementById('calendar');

        // initialize the external events
        // -----------------------------------------------------------------


        var calendar = new Calendar(calendarEl, {
            plugins: ['bootstrap', 'interaction', 'dayGrid', 'timeGrid'],
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            'themeSystem': 'bootstrap',
            //Random default events
            events: function () {
                $.ajax({
                    url: 'http://localhost:8080/calendar/reservations',
                    //data: {
                    // data if you are passing
                    //},
                    success: function (data) {
                        var events = [];
                        $.each(data, function (index) {
                            events.push({
                                title: data[index].reservation_id,
                                start: data[index].startDate,
                                end: data[index].endDate,
                            });
                        });
                    }
                });
            },
            drop: function (info) {
                // is the "remove after drop" checkbox checked?
                if (checkbox.checked) {
                    // if so, remove the element from the "Draggable Events" list
                    info.draggedEl.parentNode.removeChild(info.draggedEl);
                }
            }
        });

        calendar.render();
        // $('#calendar').fullCalendar()

    })
</script>
</body>

</html>