<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragments/User_fragments :: html_head"/>

<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <nav th:replace="Fragments/User_fragments :: side_dropdown"/>

    <aside th:replace="Fragments/User_fragments :: side_nav"/>

    <div class="content-wrapper">
        <!--        Page Header-->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Homepage</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Blank Page</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Rent A Car Collection</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"
                                title="Remove">
                            <i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <table id="example1" class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                            <th></th>
                            <th style="text-align: center; vertical-align: middle">Car Name</th>
                            <th style="text-align: center; vertical-align: middle">Transmission</th>
                            <th style="text-align: center; vertical-align: middle">Rental(Per Day)</th>
                            <th style="text-align: center; vertical-align: middle">Type</th>
                            <th style="text-align: center; vertical-align: middle">Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="car : ${cars}">
                            <td>
                                <img th:src="@{${car.carImagePath}}" style="width: 100px; height: 70px">
                            </td>
                            <td th:text="${car.car_name}" style="text-align: center; vertical-align: middle"></td>
                            <td th:text="${car.transmission}" style="text-align: center; vertical-align: middle"></td>
                            <td th:text="'£'+${car.rental_price}+'0'" style="text-align: center; vertical-align: middle"></td>
                            <td style="text-align: center; vertical-align: middle">
                                <th:block th:each="category : ${car.category}">
                                    <img th:src="@{${category.logoImagePath}}"
                                         style="width: 100px; height: 70px">
                                </th:block>
                            </td>
                            <td style="text-align: center; vertical-align: middle">
                                <span th:class="${car.enabled} ? 'badge bg-danger' : 'badge bg-success'"
                                      th:text="${car.enabled}? onRepair : Available"></span>
                            </td>
                            <td style="text-align: center; vertical-align: middle">
                                <a th:href="@{/user/car/details/{id}(id=${car.car_id})}">
                                <span class="fa fa-search"></span>
                                </a>
                            </td>
                            <td style="text-align: center; vertical-align: middle">
                                <a class="btn btn-block btn-outline-primary btn-xs">Reserve</a>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <!--                    Footer-->
                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->

        </section>

    </div>

</div>

<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/dist/js/demo.js}"></script>

</body>

</html>